@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Schedules</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">

        @{
            Html.RenderAction("ViewSchedules");
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkSchedules').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    @HelperAssets.LoadAjaxData("/Schedule/");
  @HelperAssets.DataTable();
  @HelperAssets.SaveAndLoadData("/Schedule/", "ViewSchedules");
    @*@HelperAssets.EditMultiSelect()*@
}
