@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Create SMS</a></li>
    </ul>
</div>

<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title textAlign">
                            <span class="mini-title minLft">
                                <img src="/img/sm2.png" alt=""></span>
                            <a href="saveTemplate.html" class="btn btn-info poLft">Save As Templates</a>
                            Create SMS
                        </div>
                        <span class="tools tls"><a href="#" id="btnAddReciepents" class="btn btn-info">Add Recipients + </a>&nbsp;<a href="#" class="btn btn-info">Cancel</a> <a href="#" class="btn btn-info">Send</a></span>
                    </div>
                    <div class="widget-body">
                        <div class="addRecp3">
                            <form class="form-horizontal no-margin">
                                <div class="control-group">
                                    <label class="control-label" for="name">Subject : </label>
                                    <div class="controls controls-row">
                                        <input class="span8" type="text" placeholder="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="name">Select Template : </label>
                                    <div class="controls controls-row">
                                        <select name="" class="span8">
                                            <option>Template 1</option>
                                            <option>Template 2</option>
                                            <option>Template 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="name">Message : </label>
                                    <div class="controls controls-row">
                                        <textarea class="span8">Hello</textarea>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls controls-row">
                                        <div class="seduleTime">
                                            <h3>Schedule Time :</h3>
                                            <div class="">
                                                <label class="radio inline">
                                                    <input id="inlineRadioA" type="radio" checked="" value="optiona" name="optionsRadioG">
                                                    Send SMS immidately
                                                </label>
                                                <label class="radio inline">
                                                    <input id="inlineRadioB" type="radio" value="optionb" name="optionsRadioG" checked="checked">
                                                    Schedule SMS
                                                </label>
                                            </div>
                                        </div>
                                        <div class="dateBox">
                                            <label class="control-label lbl" for="report_range1">
                                                <input type="text" name="date_range1" id="date_range1" class="date_picker span9" placeholder="01/29/2013 - 01/31/2013" />
                                                <span class="add-on btn date_picker"><i class="icon-calendar"></i></span>
                                            </label>
                                            <div class="controls">
                                                <div class="bootstrap-timepicker">
                                                    <input id="timepicker2" type="text" value="10:40 AM">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
    <div id="dialog"></div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.left').removeClass('active');
            $('#divSMS').addClass('active');

            //load dialog box for Add recipients
            $('#btnAddReciepents').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Eletters/AddRecipients',
                    async: false,
                    success: function (response) {
                        $('#dialog').html(response);
                        //
                    },
                    error: function () { }
                });
                $('#dialog').dialog("open");
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 700,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            //Date picker
            $('.date_picker').daterangepicker({
                opens: 'right'
            });
        });
    </script>
}