@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a id="lnkViewAll" class="heading" href="#" onclick="LoadAjax(event)" action="ViewTemplates">View Templates
            </a>
        </li>
        @*<li>
            <a id="lnkAddNew" class="subButton" onclick="LoadAjax(event)" href="#" action="Create">Add Template
            </a>
        </li>*@
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewTemplates");
        }
    </div>
    <div class="right-sidebar">
        <div class="divRight">
            @Html.Partial("_RightMenuPartial")
        </div>
        <div class="divInstructions">
            <div class="wrapper">
                <button class="btn btn-block btn-info" type="button">
                    Template Instructions
                </button>
            </div>

            <hr class="hr-stylish-1">

            <div class="wrapper">
                <ul id="formattingFieldList" class="progress-statistics">
                </ul>
            </div>

            <hr class="hr-stylish-1">
        </div>
    </div>

</div>
<style type="text/css">
    .divInstructions {
        display: none;
    }

    .details {
        font-size: 13px !important;
    }
</style>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkTemplates').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    @HelperAssets.LoadAjaxData("/Template/");
  @HelperAssets.DataTable();
  @HelperAssets.SaveAndLoadData("/Template/", "ViewTemplates");
}
