@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
    string type = Request.QueryString["type"];
}
<div class="sub-nav">
    <ul>
        <li><a id="lnkStudent" class="subButton" href="/import?type=student" onclick="LoadAjax(event)" action="ImportStudents">Import Students </a></li>
        <li><a id="lnkStaff" class="subButton" href="/import?type=staff" onclick="LoadAjax(event)" action="ImportStaff">Import Staff </a></li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            if (type == "student")
            {
                Html.RenderAction("ImportStudents");
            }
            else if (type == "staff")
            {
                Html.RenderAction("ImportStaff");
            }
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#navDashboard').addClass('selected');
            if ('@type' == 'staff') {
                $('#lnkStaff').addClass('selected');
            }
            else {
                $('#lnkStudent').addClass('selected');
            }
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    <script src="~/Content/Pluload/plupload.full.js"></script>
    <script type="text/javascript">
        // Custom example logic

        $(function () {
            var uploader = new plupload.Uploader({
                runtimes: 'gears,html5,flash,silverlight,browserplus',
                browse_button: 'pickfiles',
                container: 'container',
                max_file_size: '15mb',
                url: '/Import/FileImportExcel?importId=' + $("#importId").val() + "&type=" + '@type',
                flash_swf_url: '../../Scripts/plupload.flash.swf',
                //silverlight_xap_url: '/plupload/js/plupload.silverlight.xap',
                filters: [{ title: "Excel files", extensions: "xlsx,xls" }]
            });

            uploader.bind('Init', function (up, params) {
                $('#filelist').html("");
                // $('#filelist').html("<div class='curRuntime'>Current runtime: " + params.runtime + "</div>");
            });

            $('#uploadfiles').click(function (e) {

                uploader.start();
                e.preventDefault();
            });

            uploader.init();

            uploader.bind('FilesAdded', function (up, files) {
                $.each(files, function (i, file) {
                    $('a#uploadfiles').show();
                    $(".errorDiv").remove();
                    $('#filelist').append(
				'<div class="infoDiv" id="' + file.id + '">' +
				file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
			'</div>');
                });

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('UploadProgress', function (up, file) {
                $('#' + file.id + " b").html(file.percent + "%");
            });

            uploader.bind('Error', function (up, err) {
                $('a#uploadfiles').hide();
                $(".infoDiv").remove();
                $('#filelist').append("<div class='errorDiv'>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('FileUploaded', function (up, file) {

                $('#' + file.id + " b").html("100%");
                $("#recordsFiled").show();
                //InitializeDataTable();
                refreshDatatable();
            });
            //refreshDatatable();
        });
     

        function getFormattedDate(dString) {
            alert(dString);
            dString = dString.replace("/", " ").replace("/", " ");
            alert(dString);
            var d = new Date($.trim(dString));
            alert(d); // assuming 2010-12-07 17:35:04.127
            var mm = d.getMonth() + 1;
            var dd = d.getDate();
            if (mm < 10) mm = "0" + mm;
            if (dd < 10) dd = "0" + dd;
            var hh = d.getHours();
            var min = d.getMinutes();
            if (hh < 10) hh = "0" + hh;
            if (min < 10) min = "0" + min;
            return d.getFullYear() + "/" + mm + "/" + dd + " " + hh + ":" + min;
        }

     
    </script>
}
