@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a id="lnkViewAll" class="subButton" href="#" onclick="LoadAjax(event)" action="ImportStudents">Import Students
            </a>
        </li>
        <li>
            <a id="lnkAddNew" class="subButton" href="#" onclick="LoadAjax(event)" action="ImportStaff">Import Staff
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ImportStudents");
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkDepartment').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
  
    <script src="~/Content/Pluload/plupload.full.js"></script>
    <script type="text/javascript">
        // Custom example logic
       
        $(function () {
            var uploader = new plupload.Uploader({
                runtimes: 'gears,html5,flash,silverlight,browserplus',
                browse_button: 'pickfiles',
                container: 'container',
                max_file_size: '15mb',
                url: '/Import/FileImportExcel?importId=' + $("#importId").val(),
                flash_swf_url: '../../Scripts/plupload.flash.swf',
                //silverlight_xap_url: '/plupload/js/plupload.silverlight.xap',
                filters: [{ title: "Excel files", extensions: "xlsx,xls" }]
            });

            uploader.bind('Init', function (up, params) {
                $('#filelist').html("");
                // $('#filelist').html("<div class='curRuntime'>Current runtime: " + params.runtime + "</div>");
            });

            $('#uploadfiles').click(function (e) {
              
                uploader.start();
                e.preventDefault();
            });

            uploader.init();

            uploader.bind('FilesAdded', function (up, files) {
                $.each(files, function (i, file) {
                    $('a#uploadfiles').show();
                    $(".errorDiv").remove();
                    $('#filelist').append(
				'<div class="infoDiv" id="' + file.id + '">' +
				file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
			'</div>');
                });

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('UploadProgress', function (up, file) {
                $('#' + file.id + " b").html(file.percent + "%");
            });
                
            uploader.bind('Error', function (up, err) {
                $('a#uploadfiles').hide();
                $(".infoDiv").remove();
                $('#filelist').append("<div class='errorDiv'>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('FileUploaded', function (up, file) {

                $('#' + file.id + " b").html("100%");
                $("#recordsFiled").show();
                //InitializeDataTable();
                refreshDatatable();
            });
            //refreshDatatable();
        });
        function InitializeDataTable() {
            $("#loading").hide();
            $('a#uploadfiles').hide();
            $('.uploadedReport').show();
            oTable = $('#MyPengoReport').dataTable({
                "bProcessing": true,
                'oLanguage': { 'sInfo': "_START_ - _END_ of (_TOTAL_)" },
                "bServerSide": true, "sAjaxSource": '/Import/ShowExcelFileContent',
                "bJQueryUI": true, "aLengthMenu": [5, 10, 25, 50, 100, 200],
                "aoColumns": [
                               { "sWidth": "15%" }, // 1st column width 
                               { "sWidth": "25%" }, // 2nd column width 
                               { "sWidth": "15%" },
                               { "sWidth": "25%" },
                               { "sWidth": "20%" } // 3rd column width and so on 
                ],
                "sPaginationType": "full_numbers",
                "bDestroy": true

            });
        }

        function getFormattedDate(dString) {
            alert(dString);
            dString = dString.replace("/", " ").replace("/", " ");
            alert(dString);
            var d = new Date($.trim(dString));
            alert(d); // assuming 2010-12-07 17:35:04.127
            var mm = d.getMonth() + 1;
            var dd = d.getDate();
            if (mm < 10) mm = "0" + mm;
            if (dd < 10) dd = "0" + dd;
            var hh = d.getHours();
            var min = d.getMinutes();
            if (hh < 10) hh = "0" + hh;
            if (min < 10) min = "0" + min;
            return d.getFullYear() + "/" + mm + "/" + dd + " " + hh + ":" + min;
        }

        function refreshDatatable() {
           
            $('a#uploadfiles').hide();
            $('.uploadedReport').show();
           
            var currentSource = "/Import/ShowExcelFileContent?importId=" + $("#importId").val();
            var oTable = $('#MyPengoReport').dataTable({
                //"bProcessing": true,
                "bPaginate": false,
                //"bServerSide": true,
                "bJQueryUI": true,
                // "bSort": false,
                "bDestroy": true,
                "bFilter": false,
                "bInfo": false,
                "sAjaxSource": currentSource,
                "aoColumns": [
                                { "mData": "RollNo" },
                                { "mData": "FullName" },
                                { "mData": "Email" },
                                { "mData": "ClassName" },
                                { "mData": "SectionName" },
                                { "mData": "Remarks" },
                                { "mData": "CourseName" },
                                { "mData": "ImportDateString" }
                                
                ]
            });

            $('#btnSendEmails').show();
        }


        function SendEmails() {
            var currentSource = "/Import/SendRegistrationEmailToStudents?importId=" + $("#importId").val();
            $.ajax({
                type: "GET",
                url: currentSource,
                error: function () {
                },
                success: function () {
                }


            })
        }
    </script>
}
