@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a class="cources" href="#" action="ViewCourses">View Courses
            </a>
        </li>
        <li>
            <a class="cources" href="#" action="Create">Add Course
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
    </div>
    <div class="right-sidebar"></div>
</div>
@section Scripts
{
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkCourses').addClass('selected');
            LoadAjax('ViewCourses');
            $('.cources').click(function () {
                $('a.cources').removeClass('selected');
                $(this).addClass('selected');
                var action = $(this).attr("action");
                LoadAjax(action);
            });
        });

        //LOAD HTML IN COURSE VIEWS
        function LoadAjax(action) {
            $.ajax({
                type: 'GET',
                url: '/Course/' + action,
                success: function (response) {
                    $('#divOuter').html('');
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }

        //LOAD COURSE BY ID
        function LoadCourses(action, id) {
            $.ajax({
                type: 'GET',
                url: '/Course/' + action,
                data: {
                    id: id
                },
                success: function (response) {
                    $('#divOuter').html('');
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }

        //This function is used to serialize a form into json object.
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name] = this.value || '';
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };


    </script>
}
