@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a class="subButton" id="lnkViewAll" href="#" onclick="LoadAjax(event)" action="ViewCourses">View Courses
            </a>
        </li>
        <li>
            <a id="lnkAddNew" class="subButton" href="#" onclick="LoadAjax(event)" action="Create">Add Course
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewCourses");
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkCourses').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
  @HelperAssets.LoadAjaxData("/Course/");
  @HelperAssets.DataTable();
  @HelperAssets.SaveAndLoadData("/Course/", "ViewCourses");
}
