@{
    ViewBag.Title = "Parents";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="dashboard-wrapper">
    <div class="left-sidebar">
        @Html.Partial("_IndividualPartial")
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">View Parents </div>
                    </div>
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination">
                            <table class="table table-bordered pull-left" id="data-table">
                                <thead>
                                    <tr class="bluRow">
                                        <th>Name </th>
                                        <th>Children </th>
                                        <th class="hidden-phone">Groups </th>
                                        <th class="hidden-phone">Course,Department, Class </th>
                                        <th class="hidden-phone">Manage </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="name">Mahendra Singh Dhoni </span></td>
                                        <td><span class="name">Amit </span></td>
                                        <td class="hidden-phone">PTM,Shop </td>
                                        <td class="hidden-phone">Primary,Kids, L.K.G </td>
                                        <td class="hidden-phone">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                                    Action 
                               <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="lnkDetails" href="">Details</a>
                                                    </li>
                                                    <li>
                                                        <a class="lnkEdit" href="">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="lnkDelete" href="">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="name">Mahendra Singh Dhoni </span></td>
                                        <td><span class="name">Amit </span></td>
                                        <td class="hidden-phone">PTM,Shop </td>
                                        <td class="hidden-phone">Primary,Kids, L.K.G </td>
                                        <td class="hidden-phone">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                                    Action 
                               <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="lnkDetails" href="">Details</a>
                                                    </li>
                                                    <li>
                                                        <a class="lnkEdit" href="">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="lnkDelete" href="">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.left').removeClass('active');
            $('#divIndividual').addClass('selected');
        });
    </script>
}