@{
    ViewBag.Title = "Parents";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="dashboard-wrapper">
    <div class="left-sidebar">
        @Html.Partial("_IndividualPartial")
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">View Staff </div>
                        <span class="tools"><a class="btn btn-info tools2" href="/Staff/Create" data-original-title="">New</a> </span>
                    </div>
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination">
                            <table class="table table-bordered pull-left" id="data-table">
                                <thead>
                                    <tr class="bluRow">
                                        <th>Name </th>
                                        <th>Course </th>
                                        <th class="hidden-phone">Department </th>
                                        <th class="hidden-phone">Classes Assigned </th>
                                        <th class="hidden-phone">Manage </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="name">Mahendra Singh Dhoni </span></td>
                                        <td><span class="name">MSc </span></td>
                                        <td class="hidden-phone">Mathematics </td>
                                        <td class="hidden-phone">MSc1, BSc1, New Group </td>
                                        <td class="hidden-phone">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">Action <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Edit </a></li>
                                                    <li><a href="">View </a></li>
                                                    <li><a href="#">Delete </a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.left').removeClass('active');
            $('#divIndividual').addClass('selected');
        });
    </script>
}