@{
    ViewBag.Title = "Edit";
}

<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="sub-nav2">
                        <div class="row-fluid">
                            <ul>
                                <li class="span2"><a class="btn btn-info" href="manualPayment.html">Payments</a></li>
                                <li class="span6">Srinu Baswa</li>
                                <li class="span2"><a class="btn btn-info" href="edit-student.html">Edit</a></li>
                                <li class="span2"><a class="btn btn-info" href="individual.html">Back</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="img/profile.png"><a class="file-input-wrapper btn btn-info cangePic" data-original-title=""> Change Picture
                        <input type="file">
                                        </a>
                                    </div>
                                </div>
                                <div class="span9">
                                    <form class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label">Title </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">First Name </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Last Name </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">DOB </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Phone </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Home </label>
                                            <div class="controls">
                                                <input class="span8" type="text" name="" value="">
                                            </div>
                                        </div>
                                        <div id="dhtmlgoodies_slidedown">
                                            <div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide();return false;" class="btn btn-info">More Details</a> </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="dhtmlgoodies_contentBox">
                                    <div id="dhtmlgoodies_content">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="widget">
                                                    <div class="widget-header">
                                                        <div class="title">Edit Permissions </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span12">
                                                            <div class="messge">
                                                                <h2>Messaging</h2>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h2>Users</h2>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h2>Payments</h2>
                                                                <div class="row-fluid">
                                                                    <div class="span12">
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="span6">
                                                                            <ul>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="spanLft">Send eLetters</div>
                                                                                    <div class="spnRight">
                                                                                        <div id="label-switch" class="make-switch" data-on-label="yes" data-off-label="NO">
                                                                                            <input type="checkbox" checked>
                                                                                        </div>
                                                                                        <a href="#">
                                                                                            <img src="img/q.png" alt=""></a>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
