@model IEnumerable<StudentTracker.Core.Entities.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Students</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">


        @Html.Partial("_IndividualPartial")
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">View Students </div>
                        <span class="tools"><a class="btn btn-info tools2" href="/Student/CreateStudent" data-original-title="">New</a> </span>
                    </div>
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination">
                            @Html.Partial("_ViewStudents", Model)
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.left').removeClass('active');
            $('#divIndividual').addClass('selected');
            $('#lnkStudent').addClass('selected');
        });
    </script>
}