@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
    <ul>
        <li>
            <a href="#">Home
            </a>
        </li>
    </ul>

</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="divClacc">
            <div class="row-fluid abc1">
                <div class="span12" id="wid1" style="display: block;">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">
                                <span class="mini-title minLft">
                                    <img src="img/email2.png" alt="">
                                </span>View Activities
                            </div>
                            <span class="tools tls btn btn-info"><a href="#" data-original-title="">Create New </a></span>
                        </div>
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="scroll">
                                    <div id="scrollbar-two">
                                        <div class="scrollbar">
                                            <div class="track">
                                                <div class="thumb">
                                                    <div class="end"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="viewport">
                                            <div class="overview">
                                                <div class="featured-articles-container">
                                                    <div class="articles2">
                                                        <ul>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moreActiv"><a href="#" class="btn btn-info">Click Here to View More</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid abc2">
                <div class="span12" id="wid2">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="mini-title">
                                    <img src="img/email2.png" alt="">
                                </span>Recent Eletters
                            </div>
                            <span class="tools"><a class="fs1" data-icon="" aria-hidden="true"></a><a class="fs1" data-icon="" aria-hidden="true"></a></span>
                        </div>
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="scroll">
                                    <div id="scrollbar">
                                        <div class="scrollbar">
                                            <div class="track">
                                                <div class="thumb">
                                                    <div class="end"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="viewport">
                                            <div class="overview">
                                                <div class="featured-articles-container">
                                                    <div class="articles2">
                                                        <ul>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/man.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="pull-left">
                                                                    <img src="img/girl.png" alt="">
                                                                </div>
                                                                <div>
                                                                    <p><strong>Alex Doe</strong> Changed his profile Photo. <span>Take a Look</span></p>
                                                                    <h3><i class="fs1" aria-hidden="true" data-icon="&#xe048;"></i>2 Hours ago </h3>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moreActiv"><a href="#"><span class="fs1" data-icon="" aria-hidden="true"></span>View More Eletters</a> <a href="#" class="btn btn-info">Create New</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">Calendar </div>
                        <span class="tools tls3"><a href="createNew1.html" data-original-title="" class="btn btn-info">Create New </a></span>
                    </div>
                    <div class="widget-body">
                        <div class="cal_select">
                            <ul>
                                <li><span class="slt_txt">Filters</span> </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All Courses</option>
                                        <option>All Courses</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All Departments</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All classes</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All Staff</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All subjects</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="cal_all">
                            <ul>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>All</span>
                                    <img src="img/green.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Payments</span>
                                    <img src="img/picock-blue.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Events</span>
                                    <img src="img/PINK.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Holidays</span>
                                    <img src="img/light-pink.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Test Centre</span> </li>
                            </ul>
                        </div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
            $('#divHome').addClass('selected');

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            calendar = $('#calendar').fullCalendar({
                theme: true,
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent', {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                        true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                events: [{
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                }, {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                }, {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d - 3, 16, 0),
                    allDay: false
                }, {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d + 4, 16, 0),
                    allDay: false
                }, {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                }, {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                }, {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                }]
            });

        });
    </script>
}


}