@{
    ViewBag.Title = "MasterSetup";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Master Setup</a></li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
        </button>
    </div>
</div>
 


<div class="dashboard-wrapper">

    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Academics Setup

                        </div>
                        <span class="tools">
                            <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="metro-nav">

                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/Course">
                                        <!--<div class="fs1" aria-hidden="true" data-icon="&#xe070;"></div>-->
                                        <div class="brand">
                                            Courses
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/Department">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Departments
                                        </div>
                                    </a>
                                </div>

                                <div class="metro-nav-block nav-block-blue double">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Notice Board
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/Subject">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Subjects
                                        </div>
                                    </a>
                                </div>
                               
                                <div class="metro-nav-block nav-block-blue double">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Timetable
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/Class">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Classes
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/ClassRoom">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Class Rooms
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="/Section">
                                        <!--<div class="fs1" aria-hidden="true" data-icon=""></div>-->
                                        <div class="brand">
                                            Sections
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-blue">
                                    <a href="typography.html">
                                        <!--<div class="fs1" aria-hidden="true" data-icon=""></div>-->
                                        <div class="brand">
                                            Assign Techers
                                        </div>
                                    </a>
                                </div>

                                <div class="metro-nav-block nav-block-blue double">
                                    <a href="/Token">
                                        <!--<div class="fs1" aria-hidden="true" data-icon=""></div>-->
                                        <div class="brand">
                                            Registration Codes
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Academics Setup

                        </div>
                        <span class="tools">
                            <!--<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>-->
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="metro-nav">

                                <div class="metro-nav-block nav-block-red">
                                    <a href="/Eletters">
                                        <!--<div class="fs1" aria-hidden="true" data-icon="&#xe070;"></div>-->
                                        <div class="brand">
                                            Eletter Templates
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="/Email">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Email Templates
                                        </div>
                                    </a>
                                </div>

                                <div class="metro-nav-block nav-block-red double">
                                    <a href="/SMS">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            SMS Templates
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Dinner Reports
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Online Fee Reports
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red double">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Ticket Reports
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="media.html">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Trip Reports
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="calendar.html">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Manage Cash/cheques
                                        </div>
                                    </a>
                                </div>

                                <div class="metro-nav-block nav-block-red">
                                    <a href="calendar.html">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Online shop Report
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-red">
                                    <a href="typography.html">
                                        <!--<div class="fs1" aria-hidden="true" data-icon=""></div>-->
                                        <div class="brand">
                                            Other
                                        </div>
                                    </a>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Data Management &amp; Support

                        </div>
                        <span class="tools">
                            <!--<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>-->
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="metro-nav">

                                <div class="metro-nav-block nav-block-green">
                                    <a href="/import?type=student">
                                        <!--<div class="fs1" aria-hidden="true" data-icon="&#xe070;"></div>-->
                                        <div class="brand">
                                            Import Students
                                        </div>
                                    </a>
                                </div>
                                <div class="metro-nav-block nav-block-green">
                                    <a href="/import?type=staff">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Import Staff
                                        </div>
                                    </a>
                                </div>

                                <div class="metro-nav-block nav-block-green">
                                    <a href="#">
                                        <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                        <div class="brand">
                                            Export Reports
                                        </div>
                                    </a>
                                </div>


                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="metro-nav-block nav-block-green">
                                            <a href="#">
                                                <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                                <div class="brand">
                                                    User Manual
                                                </div>
                                            </a>
                                        </div>
                                        <div class="metro-nav-block nav-block-green">
                                            <a href="media.html">
                                                <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                                <div class="brand">
                                                    Contact Information
                                                </div>
                                            </a>
                                        </div>
                                        <div class="metro-nav-block nav-block-green">
                                            <a href="calendar.html">
                                                <!--<div class="fs1" data-icon="" aria-hidden="true"></div>-->
                                                <div class="brand">
                                                    Other
                                                </div>
                                            </a>
                                        </div>


                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>

</div>


@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
            $('#navDashboard').addClass('selected');
        })
    </script>
}