@{
    Layout = "~/Areas/SAS/Views/Shared/LayoutAreas.cshtml";
}

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>INDIA'S BEST PARENTAL</i><br>
                <i>ENGAGEMENT SERVICE &amp; OTHER</i><br>
                <i>EDUCATIONAL SERVICES.</i></h2>
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>NO MORE</i><br>
                <i>HOMEWORK EXCUSES</i><br>
                <i>FROM STUDENTS</i></h2>
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>FIND OUT</i><br>
                <i>WHAT PARENTS &amp; STUDENTS LOVE</i><br>
                <i>ABOUT OUR PRODUCTS</i></h2>
            <!-- <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>A COMPLETE SOLUTION</i><br>
                <i>FOR UNIVERSITIES,COLLEGES</i><br>
                <i>AND SCHOOLS</i></h2>
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>YOU CAN RELY ON INFORMATIONMAIL</i><br>
                <i>BECAUSE WE PROVIDE</i><br>
                <i>BEST SERVICES.</i></h2>
            <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img5.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>Its easy</i><br>
                <i>to pay money for</i><br>
                <i>school trip.</i></h2>
            <!-- <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <div class="da-img span6">
                <div class="span6">
                    <img src="/Areas/SAS/assets/img/img6.jpg" alt="">
                </div>
            </div>
        </div>

        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!--/da-slider-->
</div>
<!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Unify is a clean and fully responsive incredible Template.</span>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Book Demonstration</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
    <!-- Service Blocks -->
    <div class="row-fluid">


        <div class="span4">
            <a href="why_informationMail.html">
                <div class="service clearfix">
                    <i class="icon-resize-small"></i>
                    <div class="desc">
                        <h4>For Universities,<br>
                            Colleges &amp; School.</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="span4">
            <a href="why_informationMail.html">
                <div class="service clearfix">
                    <i class="icon-cogs"></i>
                    <div class="desc">
                        <h4>For Institutes,<br>
                            Nurseries &amp; Clubs.</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="span4">
            <a href="why_informationMail.html">
                <div class="service clearfix">
                    <i class="icon-plane"></i>
                    <div class="desc">
                        <h4>For Teachers,<br>
                            Parents &amp; Students</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--/row-fluid-->
    <!-- //End Service Blokcs -->

    <!-- Recent Works -->
    @Html.Partial("OurProductsPartial")
    <!-- //End Recent Works -->

    <!-- Information Blokcs -->
    <div class="row-fluid margin-bottom-20">
        <!-- Who We Are -->
        <div class="span8">
            <div class="headline">
                <h3>Welcome To InformationMail</h3>
            </div>
            <p>
                <iframe class="pull-left lft-img-margin" src="http://player.vimeo.com/video/47911018" width="200px" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.
            </p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i>Donec id elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i>Corporate and Creative</li>
                <li><i class="icon-ok color-green"></i>Responsive Bootstrap Template</li>
                <li><i class="icon-ok color-green"></i>Corporate and Creative</li>
            </ul>
            <br>

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div>
        <!--/span8-->

        <!-- Latest Shots -->
        <div class="span4">
            <div class="headline">
                <h3>Screen Shots</h3>
            </div>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/Areas/SAS/assets/img/carousel/5.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Areas/SAS/assets/img/carousel/4.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Areas/SAS/assets/img/carousel/3.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div>
        <!--/span4-->
    </div>
    <!--/row-fluid-->
    <!-- //End Information Blokcs -->

    @Html.Partial("OurClientsPartial")
</div>
<!--/container-->
<!-- End Content Part -->
<!-- JS Implementing Plugins -->

<!-- JS Page Level -->
@section scripts{
    <script src="/Areas/SAS/assets/js/pages/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Index.initParallaxSlider();
            $('.lnkMenu').removeClass("active");
            $('#lnkHome').addClass("active");
        });
    </script>
}


