@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/SAS/Views/Shared/LayoutAreas.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Register</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Pages</a> <span class="divider">/</span></li>
            <li class="active">Register</li>
        </ul>
    </div>
    <!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="progressBar">
            <div class="details">
                <span>Step 1 </span>
                <span class="pull-right">12% </span>
            </div>
            <div class="progress">
                <div class="bar progress-info" style="width: 12%;"></div>
            </div>
        </div>

        <form class="log-page2">
            <h3>A Complete solution for universities, Colleges and Schools.</h3>
            <p>Welcome to information Mail, Lets make new account <span>just click on the "next button"</span></p>


            <div class="controls form-inline">
                <a href="/SAS/SASHome/RegisterUserStep2" class="btn-Nxt" type="submit">Next</a>
            </div>

        </form>
    </div>
    <!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->
