@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Areas/SAS/Views/Shared/LayoutAreas.cshtml";
}


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Our Terms and conditions</h1>
        <ul class="pull-right breadcrumb">
            <li class="active">TermsAndConditions</li>
        </ul>
    </div>
    <!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
