<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-body">
                <div class="mnuSec2">
                    <ul>
                        <li><a href="/student" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Students</a></li>
                        <li><a href="/Staff/" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Staff</a></li>
                        <li><a href="/Individual/Parents" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Parents</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


