<div class="top-nav">
    <ul>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <a href="/home" id="navDashboard">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
                    Dashboard
                </a>
            </li>
            if (User.IsInRole("SiteAdmin"))
            {
            <li>
                <a href="/organization" class="lnkOrganization">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></div>
                    Organizations
                </a>
            </li>
            }
            <li>
                <a href="#">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>
                    Graphs
                </a>
            </li>
            <li>
                <a class="lnkToken" href="/token">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe021;"></div>
                    Reg.Codes
                </a>
            </li>
            <li>
                <a class="lnkCourses" href="/course">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>
                    Courses
                </a>
            </li>
            <li>
                <a href="/department" class="lnkDepartment">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>
                    Departments
                </a>
            </li>
            <li>
                <a href="/Subject" class="lnkSubjects">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
                    Subjects
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                    Calendar
                </a>
            </li>
            <li>
                <a href="/Section">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                    Sections
                </a>
            </li>
            <li>
                <a href="/Class">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe150;"></div>
                    Classes
                </a>
            </li>
        }
        else
        { 
            <li>
                <a href="#" class="selected">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>
                    Login
                </a>
            </li>
        }
    </ul>
    <div class="clearfix">
    </div>
</div>

