@using System.Globalization;
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Collections.Generic
@********************************* Custom Javascript Helpers ****************************************************@
@helper SaveAndLoadData(string controller, string resultView)
{
    <script src="~/Scripts/alertify.min.js"></script>
    <script type="text/javascript">

        //this function is used to validate and saving the data.
        function Save(e) {
            var action = $(e.target).attr('action');
            var url = '@controller' + action;
            var elem = $("#" + e.target.id).parents('form');
            var resultView = '@resultView';
            //validate the form.
            var val = $(elem).validate().form();
            if (val) {
                //serialize the form into json object.
                var objCandidate = $(elem).serializeObject();
                //save data with ajax call.
                $.ajax({
                    url: url,
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify(objCandidate),
                    success: function (data) {
                        if (data == 'True') {
                            $('#lnkAddNew').removeClass('selected');
                            $('#lnkViewAll').addClass('selected');
                            AfterSuccess('@resultView');
                            alertify.success("Action successfully completed.");
                        }
                        else if (data == 'False') {
                            alertify.error('An error occured while processing your request');
                        }
                        else {
                            alertify.error(data);
                        }
                    },
                    error: function (result, request) {
                        
                        alertify.error('An error occured while processing your request');
                    }
                });
            }
                //if not validated then show error messages.
            else {
                //Error on Save
            }
        }

        // LOAD VIEW
        function AfterSuccess(action) {
            var url = '@controller' + action;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }

        //LOAD VIEW BY ID
        function LoadViewById(e) {
            var action = $(e.target).attr('action');
            var url = '@controller' + action;
            var id = $(e.target).attr('itemId');
            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    id: id
                },
                success: function (response) {
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }

        //DELETE RECORD
        function Delete(e) {
            //var conf = confirm('Continue delete?');
            alertify.confirm("Sure to delete?", function (conf) {
                if (conf) {
                    var action = $(e.target).attr('action');
                    var url = '@controller' + action;
                    var id = $(e.target).attr('itemId');
                    var $this = $(e.target)
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            id: id
                        },
                        success: function (response) {
                            if (response == 'True') {
                                alertify.success("Record successfully deleted.");
                            }
                            else {
                                alertify.error(response);
                            }
                            AfterSuccess('@resultView');
                            // var row = jQuery($this).parents('tr');
                            //$('#data-table').dataTable().fnDeleteRow(row)
                            //  $('div.dashboard-wrapper').unblock();
                        },
                        error: function () { }
                    });
                }
                else {
                    alertify.error("You've clicked Cancel");
                }
            });
        }

        //EDIT RECORD
        function Edit(e) {
            LoadViewById(e);
        }

        //LOAD REGIONS BY COUNTRY
        function loadRegionsByCountry(e) {
            var countryId = $(e.target).val();
            var url = '@controller' + 'GetRegions';
            $('#RegionId').html('<option>--Select Region--</option>');
            var row = '';
            if (countryId == '') {
                return false;
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        id: countryId
                    },
                    success: function (response) {
                        $.each(response, function (index, value) {
                            row += '<option value=' + value.Id + '>' + value.name + '</option>';
                        });
                        $('#RegionId').append(row);
                    },
                    error: function () { }
                })
            }
        }

        function GetData(e) {
            var id = $(e.target).val();
            var action = $(e.target).attr('action');
            var type = $(e.target).attr('getType');
            var url = '@controller' + action;
            $('#' + type + 'Id').html('<option>--Select ' + type + '--</option>');
            var row = '';
            if (id == '') {
                return false;
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: url,
                    contentType: 'application/json;',
                    data: {
                        id: id
                    },
                    success: function (response) {
                        $.each(response, function (index, value) {
                            switch (type) {
                                case 'Class':
                                    row += '<option value=' + value.ClassId + '>' + value.ClassName + '</option>';
                                    break;
                                case 'Course':
                                    row += '<option value=' + value.CourseId + '>' + value.CourseName + '</option>';
                                    break;
                                case 'Subject':
                                    row += '<option value=' + value.SubjectId + '>' + value.SubjectName + '</option>';
                                    break;
                                case 'ClassRoom':
                                    row += '<option value=' + value.ClassRoomId + '>' + value.Name + '</option>';
                                    break;
                                case 'Department':
                                    row += '<option value=' + value.DepartmentId + '>' + value.DepartmentName + '</option>';
                                    break;
                            }
                        });
                        $('#' + type + 'Id').append(row);
                    },
                    error: function () { }
                })
            }
        }

        //Get Department and Course
        function GetCourseAndDepartment(e) {
            var itemId = $(e.target).val();
            var action = $(e.target).attr('action');
            var url = '@controller' + action;
            $('#CourseId').html('<option>--Select Course--</option>');
            $('#DepartmentId').html('<option>--Select Department--</option>');
            var rowCourse = '';
            var rowDepartment = '';
            if (itemId == '') {
                return false;
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        id: itemId
                    },
                    success: function (response) {
                        $.each(response.CourseList, function (index, value) {
                            rowCourse += '<option value=' + value.CourseId + '>' + value.CourseName + '</option>';
                        });
                        $.each(response.DepartmentList, function (index, value) {
                            rowDepartment += '<option value=' + value.DepartmentId + '>' + value.DepartmentName + '</option>';
                        });
                        $('#CourseId').append(rowCourse);
                        $('#DepartmentId').append(rowDepartment);
                    },
                    error: function () { }
                })
            }
        }

        //This function is used to serialize a form into json object.
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name] = this.value || '';
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //this function is used to switch to viewmode.
        //Alertify JS
        //$ = function (id) {
        //    return document.getElementById(id);
        //},
        //reset = function () {
        //    $("toggleCSS").href = "Content/alertify.core.css";
        //    alertify.set({
        //        labels: {
        //            ok: "OK",
        //            cancel: "Cancel"
        //        },
        //        delay: 5000,
        //        buttonReverse: false,
        //        buttonFocus: "ok"
        //    });
        //};
    </script>
}

@helper DataTable()
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#data-table').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>
}

@helper LoadAjaxData(string controller)
{
    <script type="text/javascript">
        function LoadAjax(e) {
            var action = $(e.target).attr('action');
            var url = '@controller' + action;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }
    </script>
}

@********************************* Custom Javascript Functions ****************************************************@
@functions {    
    
    /// <summary>
    /// This function is use to get the Controller and Action namve of the current ViewContext object
    /// </summary>
    /// <param name="objViewContext"></param>
    /// <returns></returns>
    public static string GetControllerActionName(ViewContext objViewContext)
    {

        var ca = objViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString()
                 + "/"
                 + objViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();

        return ca.ToString();

    }
    
    
   
    
    }
@********************************* Custom Javascript Functions ****************************************************@
