@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">ClassRooms</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewClassRooms");
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkClassRooms').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    @HelperAssets.LoadAjaxData("/ClassRoom/");
  @HelperAssets.DataTable();
  @HelperAssets.SaveAndLoadData("/ClassRoom/", "ViewClassRooms");
}
