@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Time Table</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
      <div class="left-sidebar">
        <div class="divClacc">
          <div class="row-fluid">
            <div class="span12" id="wid2">
              <div class="widget">
                <div class="widget-header">
                  <div class="title textAlign"> <span class="mini-title minLft22">
                    <div class="dropdown"> <a href="groupsCreate3.html" data-original-title=""> Add Students/Groups <b class="caret2"> + </b> </a> </div>
                    </span> Time Table</div>
                  <span class="tools tls4"> <a href="#" class="btn btn-info" data-original-title=""> Save </a> </span> </div>
                <div class="widget-body">
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="timetable">
                        <div class="fst1sec">School Time :</div>
                        <div class="sec2Mark">
                          <input name="" type="text">
                          <select>
                            <option>All</option>
                          </select>
                          To
                          <input name="" type="text">
                          <select>
                            <option>All</option>
                          </select>
                        </div>
                        <div class="remark"> Remark :
                          <input name="" type="text">
                        </div>
                        <div class="interVel">
                          <div class="dropdown"> <a href="viewTable.html" data-original-title=""> + Add<br>
                            Interval </a> </div>
                        </div>
                      </div>
                      <div class="timetable">
                        <div class="fst1sec">Total Periods :</div>
                        <div class="sec2Mark">
                          <select>
                            <option>All</option>
                          </select>
                        </div>
                        <div class="remark">
                          <p><span>Note :</span> Please enter time in format as shown (e.g. 08:00, 10:10)</p>
                        </div>
                      </div>
                      <div class="timetable">
                        <div class="fst1sec">School Time :</div>
                        <div class="sec2Mark">
                          <input name="" type="text">
                          <select>
                            <option>All</option>
                          </select>
                          To
                          <input name="" type="text">
                          <select>
                            <option>All</option>
                          </select>
                        </div>
                        <div class="remark"> Remark :
                          <input name="" type="text">
                        </div>
                        <div class="interVel">
                          <div class="dropdown"> <a href="viewTable.html" data-original-title=""> + Add<br>
                            Interval </a> </div>
                        </div>
                      </div>
                      <div class="bdrArea"> <span class="mini-title minLft23">
                        <div class="dropdown"> <a href="groupsCreate3.html" data-original-title=""> Add Students/Groups <b class="caret2"> + </b> </a> </div>
                        </span> <span class="tools tls5"> <a href="#" class="btn btn-info" data-original-title=""> Save </a> </span> </div>
                      <div class="widget-body toppACk">
                        <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                          <thead>
                            <tr class="gColor">
                              <th> Periods Time </th>
                              <th> Monday </th>
                              <th class="hidden-phone"> Tuesday </th>
                              <th class="hidden-phone"> Wednesday </th>
                              <th class="hidden-phone"> Thursday </th>
                              <th class="hidden-phone hidden-phone2"> Friday </th>
                              <th class="hidden-phone hidden-phone2"> Saturday </th>
                              <th class="hidden-phone hidden-phone2"> Sunday </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td width=""><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><div class="sec2Mark2">
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                        To
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td><div class="sec2Mark2">
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                        To
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td><div class="sec2Mark2">
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                        To
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td><div class="sec2Mark2">
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                        To
                                        <input name="" type="text">
                                        <select>
                                          <option>All</option>
                                        </select>
                                      </div></td>
                                  </tr>
                                </tbody></table></td>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone hidden-phone2"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone hidden-phone2"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                              <td class="hidden-phone hidden-phone2"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr">
                                  <tbody><tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noBdr selectSml">
                                        <tbody><tr>
                                          <td><select name="">
                                              <option>Subject</option>
                                              <option>Subject</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td><select name="">
                                              <option>Teacher</option>
                                              <option>Subject</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td><p>Remarks</p>
                                            <input name="" type="text">
                                          </td>
                                        </tr>
                                      </tbody></table></td>
                                  </tr>
                                </tbody></table></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar">
               @Html.Partial("_RightMenuPartial")
    </div>
    <div id="dialog"></div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.left').removeClass('active');
            $('#divTimeTable').addClass('active');

            //load dialog box for Add recipients
            $('#btnAddReciepents').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Eletters/AddRecipients',
                    async: false,
                    success: function (response) {
                        $('#dialog').html(response);
                        //
                    },
                    error: function () { }
                });
                $('#dialog').dialog("open");
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 700,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            //Date picker
            $('.date_picker').daterangepicker({
                opens: 'right'
            });
        });
    </script>
}