@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}
<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Time Table</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="divClacc">
            <div class="row-fluid abc1">
                <div class="span12" id="wid1" style="display: block;">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title textAlign">View Timetable </div>
                            <span class="tools tls6"><a href="/timeTable/EditTimeTable" class="btn btn-info">Edit </a><a href="#" class="btn btn-info">Delete </a></span>
                        </div>
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="widget-body">
                                    <div class="assigment_ctn">
                                        <div class="assigment_box">
                                            <div class="cal_select " id="coll">
                                                <ul>
                                                    <li>
                                                        <select id="id_select" class="selectpicker bla bla bli">
                                                            <option>All Courses</option>
                                                            <option>All Courses</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select name="select2" class="selectpicker bla bla bli" id="select2">
                                                            <option>All Departments</option>
                                                            <option>bull</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select id="id_select" class="selectpicker bla bla bli">
                                                            <option>All classes</option>
                                                            <option>bull</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select name="select" class="selectpicker bla bla bli" id="select">
                                                            <option>All Section</option>
                                                            <option>bull</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select name="select" class="selectpicker bla bla bli" id="select">
                                                            <option>All Staff</option>
                                                            <option>bull</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select id="id_select" class="selectpicker bla bla bli">
                                                            <option>All subjects</option>
                                                            <option>bull</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="widget">
                            <a href="#" class="printPdf">
                                <img src="img/pdf.png" alt=""></a>
                            <div class="widget-body">
                                <div class="pnlTable">
                                    <table width="0" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" class="pRight2"><strong>School Time :</strong></td>
                                            <td align="left" valign="top" class="pRight2">09:00 AM-04:30 AM</td>
                                            <td align="left" valign="top" class="pRight2">Remarks : We have 8:00 AM -08:30 Assembly time</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" class="pRight2"><strong>Total Periods :</strong></td>
                                            <td align="left" valign="top" class="pRight2">4</td>
                                            <td align="left" valign="top" class="pRight2">&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                                    <thead>
                                        <tr class="bluRow">
                                            <th><strong>Period No.</strong> </th>
                                            <th>Time </th>
                                            <th class="hidden-phone">Monday </th>
                                            <th class="hidden-phone">Tuesday </th>
                                            <th class="hidden-phone">Wednesday </th>
                                            <th class="hidden-phone">Thursday </th>
                                            <th class="hidden-phone">Friday </th>
                                            <th class="hidden-phone">Saturday </th>
                                            <th class="hidden-phone">Sunday </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1 </td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone">Science<br>
                                                <span class="colorSpn">Sukhjinder</span><br>
                                                Remarks:Lab<br>
                                                Room No.3<br>
                                            </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">Maths<br>
                                                <span class="colorSpn">Satvir</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                        </tr>
                                        <tr>
                                            <td>2 </td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone">Science<br>
                                                <span class="colorSpn">Sukhjinder</span><br>
                                                Remarks:Lab<br>
                                                Room No.3<br>
                                            </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">Maths<br>
                                                <span class="colorSpn">Satvir</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone" colspan="7">
                                                <img src="img/breakTime.png" alt="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3 </td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone">Science<br>
                                                <span class="colorSpn">Sukhjinder</span><br>
                                                Remarks:Lab<br>
                                                Room No.3<br>
                                            </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">Maths<br>
                                                <span class="colorSpn">Satvir</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                        </tr>
                                        <tr>
                                            <td>4 </td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone">Science<br>
                                                <span class="colorSpn">Sukhjinder</span><br>
                                                Remarks:Lab<br>
                                                Room No.3<br>
                                            </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">Maths<br>
                                                <span class="colorSpn">Satvir</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                            <td class="hidden-phone">Hindi<br>
                                                <span class="colorSpn">Khushwant</span> </td>
                                            <td class="hidden-phone">English<br>
                                                <span class="colorSpn">Anthony</span> </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>09:15 AM-10:15 AM </td>
                                            <td class="hidden-phone" colspan="7">
                                                <img src="img/breakTime.png" alt="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
    <div id="dialog"></div>
</div>

@section scripts{
     <script type="text/javascript">
        $(document).ready(function () {
            $('.left').removeClass('active');
            $('#divTimeTable').addClass('active');

            //load dialog box for Add recipients
            $('#btnAddReciepents').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Eletters/AddRecipients',
                    async: false,
                    success: function (response) {
                        $('#dialog').html(response);
                        //
                    },
                    error: function () { }
                });
                $('#dialog').dialog("open");
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 700,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
            //Date picker
            $('.date_picker').daterangepicker({
                opens: 'right'
            });
        });
    </script>
}