@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
    <ul>
        <li>
            <a href="#">Home
            </a>
        </li>
    </ul>

</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget no-margin">
                    <div class="widget-header">
                        <div class="title">Calendar </div>
                        <span class="tools tls3"><a href="calendarCreateNew.html" data-original-title="" class="btn btn-info">Create New </a></span>
                    </div>
                    <div class="widget-body">
                        <div class="cal_select">
                            <ul>
                                <li><span class="slt_txt">Filters</span> </li>
                                <li>
                                    <select name="select" class="selectpicker bla bla bli" id="select">
                                        <option>All Courses</option>
                                        <option>All Courses</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All Departments</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All classes</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All Staff</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="id_select" class="selectpicker bla bla bli">
                                        <option>All subjects</option>
                                        <option>bull</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="cal_all">
                            <ul>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>All</span>
                                    <img src="img/green.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Payments</span>
                                    <img src="img/picock-blue.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Events</span>
                                    <img src="img/PINK.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Holidays</span>
                                    <img src="img/light-pink.jpg" alt=" " />
                                </li>
                                <li>
                                    <input type="checkbox" name="a" />
                                    <span>Test Centre</span> </li>
                            </ul>
                        </div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
            $('.left').removeClass('active');
            $('#divCalander').addClass('active');


            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            calendar = $('#calendar').fullCalendar({
                theme: true,
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent', {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                        true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                events: [{
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                }, {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                }, {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d - 3, 16, 0),
                    allDay: false
                }, {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d + 4, 16, 0),
                    allDay: false
                }, {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                }, {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                }, {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                }]
            });


        });
    </script>
}


}