@{
    Layout = null;
}

@model StudentTracker.ViewModels.WidgetViewModel
 
<div id="sidebars">
    @Html.Partial("_LatestPosts", Model.LatestPosts)
  @Html.Partial("_Categories", Model.Categories)
  @Html.Partial("_Tags", Model.Tags)
  
</div>
