<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=BAINS\SQLEXPRESS;Initial Catalog=student25Dec;User ID=sa;Password =bains@awan;Integrated Security=False"/>
  </connectionStrings>
</configuration>