@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a class="tokens" id="lnkCreateNewToken" href="javascript:;" action="CreateToken">Create Token
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
        @*  <ul class="dropdown-menu pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="index.html" data-original-title="">Dashboard
                    </a>
                </li>
                <li>
                    <a href="forms.html" data-original-title="">Forms
                    </a>
                </li>
                <li>
                    <a href="graphs.html" data-original-title="">Graphs
                    </a>
                </li>
                <li>
                    <a href="ui-elements.html" data-original-title="">UI Elements
                    </a>
                </li>
                <li>
                    <a href="icons.html" data-original-title="">Icons
                    </a>
                </li>
                <li>
                    <a href="tables.html" data-original-title="">Tables
                    </a>
                </li>
                <li>
                    <a href="media.html" data-original-title="">Media
                    </a>
                </li>
                <li>
                    <a href="calendar.html" data-original-title="">Calendar
                    </a>
                </li>
                <li>
                    <a href="typography.html" data-original-title="">Typography
                    </a>
                </li>
                <li>
                    <a href="edit-profile.html" data-original-title="">Edit Profile
                    </a>
                </li>
                <li>
                    <a href="invoice.html" data-original-title="">Invoice
                    </a>
                </li>
                <li>
                    <a href="login.html" data-original-title="">Login
                    </a>
                </li>
                <li>
                    <a href="404.html" data-original-title="">404 Page
                    </a>
                </li>
                <li>
                    <a href="500.html" data-original-title="">500 Page
                    </a>
                </li>
                <li>
                    <a href="help.html" data-original-title="">Help
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="login.html" data-original-title="">Login
                    </a>
                </li>
                <li>
                    <a href="login.html" data-original-title="">Register
                    </a>
                </li>
            }
        </ul>*@
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{Html.RenderAction("CreateToken");}
    </div>
    <div class="right-sidebar"></div>
</div>

@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

            jQuery.validator.setDefaults({
                debug: true,
                success: "valid"
            });

            $("#btnCreateToken").click(function (e) {

                var form = $("#myform");
                form.validate();
                if (!form.valid()) {
                    e.preventDefault();
                    return;
                }
                var $this = $(this);
                var objCandidate = $('#myform').serializeObject();

                $.ajax({
                    url: '/Token/Create',
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify(objCandidate),
                    success: function (response) {
                        console.log(response);
                        $('#divOuter').html("<p><b>Your token is : " + response + "</p>");
                    },
                    error: function () { }
                });
            });

            $('#lnkCreateNewToken, #tabToken').addClass('selected');

            $('.tokens').click(function () {
                var action = $(this).attr("action");
                $.ajax({
                    type: 'POST',
                    url: '/Token/' + action,
                    success: function (response) {

                        $('#divOuter').html(response);
                    },
                    error: function () { alert("error"); }
                });
            });
        });

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name] = this.value || '';
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

    </script>
}