@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>

            <a class="tokens" action="ViewAllTokensForOrg" id="lnkViewAllToken" href="javascript:;">View All Tokens
            </a>
            <a class="tokens" id="lnkCreateNewToken" href="javascript:;" action="CreateToken">Create Token
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{Html.RenderAction("ViewAllTokensForOrg");}
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section Scripts
{
    <link href="~/Scripts/DataTables-1.9.4/media/css/TableTools.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <script src="~/Scripts/alertify.min.js"></script>

    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/TableTools.min.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/ZeroClipboard.js"></script>

    <script>
        $(document).ready(function () {
            $("#customTable").dataTable({
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                    "sSwfPath": "../../Scripts/DataTables-1.9.4/media/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            jQuery.validator.setDefaults({
                debug: true,
                success: "valid"
            });

           

            $('#lnkCreateNewToken, #tabToken').addClass('selected');

            $('.tokens').click(function () {
                var action = $(this).attr("action");
                $.ajax({
                    type: 'POST',
                    url: '/Token/' + action,
                    success: function (response) {

                        $('#divOuter').html(response);
                    },
                    error: function () { alert("error"); }
                });
            });
        });

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name] = this.value || '';
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

    </script>
    @HelperAssets.LoadAjaxData("/Token/");
 @HelperAssets.SaveAndLoadData("/Token/", "");

}
