@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a id="lnkViewAll" class="subButton" href="#" onclick="LoadAjax(event)" action="ViewClasses">View Classes
            </a>
        </li>
        <li>
            <a id="lnkAddNew" class="subButton" onclick="LoadAjax(event)" href="#" action="Create">Add Classes
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewClasses");
        }
    </div>
    <div class="right-sidebar"></div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkClass').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.subButton').click(function () {
                $("a.subButton").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    @HelperAssets.LoadAjaxData("/Class/");
  @HelperAssets.DataTable();
  @HelperAssets.SaveAndLoadData("/Class/", "ViewClasses");
}
