@model IEnumerable<StudentTracker.Core.Entities.User>
@{
    ViewBag.Title = "AddRecipients";
}

<div class="">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header widget-header2">
                        <div class="title textAlign">
                            Select Group Member
                        </div>
                        <span class="tools tls2">
                            <a href="#" class="btn btn-info">Done</a>

                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="mnuSec2">
                            <ul>
                                <li><a href="#" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Individuals</a></li>
                                <li><a href="#" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Groups</a></li>
                                <li><a href="#" class="btn"><span class="fs1" data-icon="" aria-hidden="true"></span>Classes</a></li>
                            </ul>

                        </div>




                        <div class="srchBox">
                            <input class="x-large" type="text" placeholder="Search Here">
                            <span class="crs">
                                <img src="/img/clear.png" alt=""></span>
                        </div>


                        <div class="row-fluid">
                            <div class="span6">
                                <div class="groups">
                                    <h2>Groups <a class="addBtn" href="#">+</a></h2>

                                    <div class="tripSec">
                                        <ul id="ulLeft">
                                            @foreach (var user in Model)
                                            { 
                                                <li class="@user.UserId">
                                                    <div class="row-fluid">
                                                        <div class="span8 colorSpn divName">@user.FirstName&nbsp;@user.LastName</div>
                                                        <div class="span2 colorSpn2">0</div>
                                                        <div class="span2 colorSpn2"><a class="addBtn" id="@user.UserId" onclick="AddNewRow(event)" href="#">+</a></div>
                                                    </div>
                                                </li>
                                            }
                                            @*<li>
                                                <div class="row-fluid">
                                                    <div class="span8 colorSpn">Basket Ball Team (Admin)</div>
                                                    <div class="span2 colorSpn2">7</div>
                                                    <div class="span2 colorSpn2"><a class="addBtn" onclick="AddNewRow(event)" href="#">+</a></div>
                                                </div>
                                            </li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="groups">
                                    <h2>Members <a class="delete-row pls" data-original-title="Delete" href="#">
                                        <i class="icon-trash"></i>
                                    </a></h2>

                                    <div class="tripSec">
                                        <ul id="ulRight">
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .left-sidebar {
        margin: 0px !important;
    }
</style>
