@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}


<div class="sub-nav">
    <ul>
        <li>
            <a id="lnkViewAll" class="organizations" href="#" action="ViewOrganizations">View Organization
            </a>
        </li>
        <li>
            <a id="lnkAddNew" class="organizations" href="#" action="AddOrganizations">Add Organization
            </a>
        </li>
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewOrganizations");
        }
    </div>
    <div class="right-sidebar"></div>
</div>
@section Scripts
{
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
      
        $(document).ready(function () {

            $('#data-table').dataTable({
                "sPaginationType": "full_numbers"
            });

            $('.lnkOrganization').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            //LoadAjax('ViewOrganizations');
            $('.organizations').click(function () {
                $("a.organizations").removeClass('selected');
                $(this).addClass('selected');
                var action = $(this).attr("action");
                LoadAjax(action);
            });
        });

        function LoadAjax(action) {
            $.ajax({
                type: 'GET',
                url: '/Organization/' + action,
                success: function (response) {
                    $('#divOuter').html('');
                    $('#divOuter').html(response);
                },
                error: function () { }
            });
        }
    </script>
}
