@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
    string token = DateTime.UtcNow.Ticks.ToString();
}


<div class="sub-nav">
    <ul>
        <li>
            <a href="" class="heading" data-original-title="" title="">Organizations</a>

            
        </li>
       @* @if (User.IsInRole("SiteAdmin"))
        {
            <li>
                <a id="lnkAddNew" class="organizations" onclick="LoadAjax(event)" href="#" action="AddOrganizations">Add Organization
                </a>
            </li>
        }*@
    </ul>
    <div class="btn-group pull-right">
        <button class="btn btn-primary">
            Main Menu
           
        </button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
            <span class="caret"></span>
        </button>

    </div>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar" id="divOuter">
        @{
            Html.RenderAction("ViewOrganizations");
        }
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.lnkOrganization').addClass('selected');
            $('#lnkViewAll').addClass('selected');
            $('.organizations').click(function () {
                $("a.organizations").removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
    @HelperAssets.LoadAjaxData("/Organization/");
    @HelperAssets.DataTable();
    @HelperAssets.SaveAndLoadData("/Organization/", "ViewOrganizations");
    
}
