/****** Object:  Table [dbo].[region]    Script Date: 09/04/2013 17:15:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region](
	[id] [bigint] NOT NULL,
	[idSpecified] [tinyint] NOT NULL,
	[name] [varchar](1000) NULL,
	[code] [varchar](100) NULL,
	[country_id] [bigint] NOT NULL,
	[country_idSpecified] [tinyint] NOT NULL,
	[has_tz] [bigint] NOT NULL,
	[has_tzSpecified] [tinyint] NOT NULL,
	[std_offset] [bigint] NOT NULL,
	[std_offsetSpecified] [tinyint] NOT NULL,
	[timezone] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
GO
INSERT [dbo].[region] ([id], [idSpecified], [name], [code], [country_id], [country_idSpecified], [has_tz], [has_tzSpecified], [std_offset], [std_offsetSpecified], [timezone]) VALUES (2, 1, N'Alabama', N'AL', 1, 1, 1, 1, -21600, 1, N'America/Chicago')
INSERT [dbo].[region] ([id], [idSpecified], [name], [code], [country_id], [country_idSpecified], [has_tz], [has_tzSpecified], [std_offset], [std_offsetSpecified], [timezone]) VALUES (3, 1, N'Arkansas', N'AR', 1, 1, 1, 1, -21600, 1, N'America/Chicago')
INSERT [dbo].[region] ([id], [idSpecified], [name], [code], [country_id], [country_idSpecified], [has_tz], [has_tzSpecified], [std_offset], [std_offsetSpecified], [timezone]) VALUES (4, 1, N'Arizona', N'AZ', 1, 1, 1, 1, -25200, 1, N'America/Phoenix')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
/****** Object:  Table [dbo].[country]    Script Date: 09/04/2013 17:15:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [bigint] NOT NULL,
	[idSpecified] [tinyint] NOT NULL,
	[name] [varchar](1000) NULL,
	[code] [varchar](100) NULL,
	[continent_id] [bigint] NOT NULL,
	[continent_idSpecified] [tinyint] NOT NULL,
	[country_group_id] [bigint] NOT NULL,
	[country_group_idSpecified] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
GO
INSERT [dbo].[country] ([id], [idSpecified], [name], [code], [continent_id], [continent_idSpecified], [country_group_id], [country_group_idSpecified]) VALUES (0, 1, N'Unknown', N'', 0, 1, 0, 1)
INSERT [dbo].[country] ([id], [idSpecified], [name], [code], [continent_id], [continent_idSpecified], [country_group_id], [country_group_idSpecified]) VALUES (1, 1, N'United States', N'US', 3, 1, 1, 1)
INSERT [dbo].[country] ([id], [idSpecified], [name], [code], [continent_id], [continent_idSpecified], [country_group_id], [country_group_idSpecified]) VALUES (2, 1, N'Afghanistan', N'AF', 6, 1, 19, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
