@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlueMoon.cshtml";
}

<div class="sub-nav">
    <ul>
        <li><a href="" class="heading">Trips</a></li>
    </ul>
</div>
<div class="dashboard-wrapper">
    <div class="left-sidebar">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">



                    <div class="widget-header">
                        <div class="title">
                            View Trips/Events
                        </div>
                        <span class="tools"><a href="/Trip/Create" class="btn btn-info tools2">Create New</a></span>
                    </div>
                    <div class="widget-body">
                        <div id="dt_example" class="example_alt_pagination">
                            <table class="table table-bordered pull-left table-hover" id="data-table">

                                <thead>
                                    <tr class="bluRow">
                                        <th style="width: 17%">Name of Trip/Event
                                        </th>
                                        <th style="width: 20%">Discription
                                        </th>
                                        <th style="width: 16%">View Groups
                                        </th>
                                        <th style="width: 16%">Created Date
                                        </th>
                                        <th style="width: 16%">Status
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="dhtmlgoodies_slidedown">
                                    <tr id="dhtmlgoodies_control" onclick="slidedown_showHide();return false;">
                                        <td>Name of Fee
                                        </td>
                                        <td>Discription
                                        </td>
                                        <td>View Groups
                                        </td>
                                        <td>Created Date
                                        </td>
                                        <td>Active
                                        </td>

                                    </tr>
                                    <tr id="dhtmlgoodies_control" onclick="slidedown_showHide();return false;">
                                        <td>Name of Fee
                                        </td>
                                        <td>Discription
                                        </td>
                                        <td>View Groups
                                        </td>
                                        <td>Created Date
                                        </td>
                                        <td>Active
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="right-sidebar">
        @Html.Partial("_RightMenuPartial")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.left').removeClass('active');
            $('#divTrips').addClass('active');
        });
    </script>
}
